*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
p{
 color: #808080;
}
h3{
  font-size: 26px;
}
/* UTILITIES */
.section{
  width: 100%;
  background-color: gray;
}
.clearfix::after{
  content: "";
  display: table;
  clear: both;
}
.float-left{
  float: left;
}
.container{
  width: 90%;
  margin:0 auto;
}
.plan-div{
  float: left;
  height: 100%;
  display: inline-block;
  width: calc(100% / 3);
  text-align: center;
  height: 380px;
  padding: 20px 5px;
}
.level-div{
  float: left;
  display: inline-block;
  width: calc(100% / 2);
  padding: 40px;
  height: 540px;
}
.footer-div{
  position: relative;
  float: left;
  display: inline-block;
  width: calc(100% / 2);
}
.h-position{
  display: inline-block;
  line-height: 100px;
  vertical-align: middle;
  text-transform: uppercase;
  font-size: 12px;
  color: white;
}
.btn{
  min-width: 100px;
  line-height: 30px;
  border-radius: 5px;
  font-size: 12px;
  text-transform: uppercase;
  color: white;
  background-color: #7cbb02;
  border: none;
  padding: 0 5px;
}
.btn:hover{
  opacity: 70%;
  cursor: pointer;
}
.gray{
  background-color: #d3d3d3;
}
.white{
  background-color: white;
}
/* FINE UTILITIES */
/* HEADER */
header{
  background-color: #0c325a;
  position: relative;
}

.h-n-left{
  width: 10%;
}
.h-n-central{
  text-align: right;
  width: 50%;
}
.h-n-right{
  text-align: right;
  width: 40%;
}
.header-text{
  height:300px;
}
.header-nav li{
  display: inline-block;
  list-style: none;
  margin-right: 10px;
}
.first {
  color: white;
  background: none;
  border: 1px solid white;
}
.header-text{
  background-image: url("../img/background-header.png");
  background-size: 600px;
  background-position: bottom right;
  background-repeat: no-repeat;
}
.h-t-div{
  position: absolute;
  top: 50%;
}
.h-t-div h1{
  margin-bottom: 20px;
  color: white;
}
/* SECTION 1 TRADITIONAL */
.traditional{
  background-color: #d3d3d3;
  padding: 30px;
  text-align: center;
  line-height: 30px;
  vertical-align: middle;
}
.traditional h2{
  color: black;
}
/* SECTION 2 PLAN */
.plan-div img{
  height: 100px;
}
.plan-div h3{
  color: #7cbb02;
}
.plan-div h3::after{
  content: '';
  display: block;
  width: 40%;
  height: 1px;
  margin: 30px;
  margin-left: 50%;
  transform: translatex(-50%);
  background-color: black;
}
/* SECTION 3 LEVEL */
.level-div h3,
.level-div p,
.level-div a{
  margin-bottom: 20px;

}
/* FOOTER */
.footer{
  line-height: 120px;
  vertical-align: middle;
}
.footer div:last-child{
  text-align: right;
}
.footer-div span,
.footer-div button{
  margin-right: 20px;
}
.footer-div span{
  color:#808080
}
#f-span{
  border-bottom: 1px solid black;
}
.footer-div button:last-child{
  position: fixed;
  z-index: 1;
  bottom: 0;
  right: 15%;
}
